# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
NODE_ENV=development
PORT=4000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=badoom_dev
POSTGRES_USER=bo
POSTGRES_PASSWORD=badoom

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

VALID_LOGIN_DOMAINS=mvpworkshop.co

SECRET=",)H8J5z_g+#grn6,:Ut^(P1ZmG$~TR"
